{% extends 'src/base.html' %}

{% block content %}
    <div class="row form-group">
        <div class="col-md-6">
            Receiver 1
            <blockquote id="receiver-1"></blockquote>
        </div>
        <div class="col-md-6">
            Receiver 2
            <blockquote id="receiver-2"></blockquote>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            Sender
            <textarea id="sender" class="form-control"></textarea>
        </div>
    </div>
{% endblock content %}

{% block script %}
  <script>
    var WEBSOCKET_URL = 'ws://' + window.location.host + '/';
    var sender = new WebSocket(WEBSOCKET_URL);
    var receiver1 = new WebSocket(WEBSOCKET_URL);
    var receiver2 = new WebSocket(WEBSOCKET_URL);

    $('#sender').keyup(function(e) {
        sender.send(e.target.value);
    });

    receiver1.onmessage = function(message) {
        $('#receiver-1').text(message.data)
    };

    receiver2.onmessage = function(message) {
        $('#receiver-2').text(message.data)
    };
  </script>
{% endblock script %}